.widget-SteamworksField {
  min-width: 300px;
}

.widget-SteamworksField .field-container {
	position: relative;
  overflow: hidden;
}

.widget-SteamworksField .field-container canvas {
  width: 100%;
}